Repository hiero-ledger/hiero-json-rpc-relay, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hiero-ledger/hiero-json-rpc-relay-maintainers, @hiero-ledger/hiero-json-rpc-relay-committers, @Nana-EC, @georgi-l95, @Ivo-Yankov, @hiero-ledger/github-maintainers, @hiero-ledger/github-committers

.github/CODEOWNERS:

###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below
*                                               @hiero-ledger/hiero-json-rpc-relay-maintainers

#########################
##### Hedera Relay ######
#########################
/packages/relay/                                @hiero-ledger/hiero-json-rpc-relay-committers
/packages/server/                               @Nana-EC @hiero-ledger/hiero-json-rpc-relay-committers
/packages/ws-server/                            @georgi-l95 @Ivo-Yankov @hiero-ledger/hiero-json-rpc-relay-committers

###############################
##### Tools and Examples ######
###############################
/dapp-example/                                  @georgi-l95 @Ivo-Yankov @hiero-ledger/hiero-json-rpc-relay-committers
/k6/                                            @hiero-ledger/hiero-json-rpc-relay-committers
/tools/                                         @georgi-l95 @Ivo-Yankov @hiero-ledger/hiero-json-rpc-relay-committers

########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hiero-ledger/github-maintainers @hiero-ledger/github-committers @hiero-ledger/hiero-json-rpc-relay-maintainers
/.github/workflows/                             @hiero-ledger/github-maintainers @hiero-ledger/github-committers @hiero-ledger/hiero-json-rpc-relay-maintainers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                     @hiero-ledger/github-maintainers

# Protect the repository root files
/README.md                                      @Nana-EC @hiero-ledger/github-maintainers @hiero-ledger/github-maintainers @hiero-ledger/hiero-json-rpc-relay-committers
**/LICENSE                                      @hiero-ledger/github-maintainers @hiero-ledger/hiero-json-rpc-relay-maintainers

# Git Ignore definitions
**/.gitignore                                   @Nana-EC @hiero-ledger/hiero-json-rpc-relay-maintainers @hiero-ledger/github-maintainers @hiero-ledger/github-maintainers @hiero-ledger/hiero-json-rpc-relay-committers
**/.gitignore.*                                 @Nana-EC @hiero-ledger/hiero-json-rpc-relay-maintainers @hiero-ledger/github-maintainers @hiero-ledger/github-maintainers @hiero-ledger/hiero-json-rpc-relay-committers

Update dependencies for hashgraph&#x2F;hedera-json-rpc-relay:tools&#x2F;subgraph-example&#x2F;subgraph&#x2F;package.json
  tools/subgraph-example/subgraph/package.json
Owners: @georgi-l95, @Ivo-Yankov, @hiero-ledger/hiero-json-rpc-relay-committers

chore: add hedera_ routes
  README.md
  docs/configuration.md
  package-lock.json
  packages/config-service/src/services/globalConfig.ts
  packages/relay/package.json
  packages/relay/src/index.ts
  packages/relay/src/lib/constants.ts
  packages/relay/src/lib/hedera.ts
  packages/relay/src/lib/relay.ts
  packages/relay/src/utils.ts
  packages/relay/tests/lib/utils.spec.ts
  packages/server/package.json
  packages/server/src/formatters.ts
  packages/server/src/koaJsonRpc/lib/methodConfiguration.ts
  packages/server/src/routes/hederaRoutes.ts
  packages/server/src/server.ts
  packages/server/src/utils.ts
  packages/server/tests/integration/formatters.spec.ts
Owners: @Nana-EC, @hiero-ledger/github-maintainers, @hiero-ledger/hiero-json-rpc-relay-committers, @hiero-ledger/hiero-json-rpc-relay-maintainers

chore: remove unused imports
  packages/relay/src/lib/hedera.ts
  packages/relay/src/lib/relay.ts
Owners: @hiero-ledger/hiero-json-rpc-relay-committers

chore: remove .only
  packages/relay/tests/lib/utils.spec.ts
Owners: @hiero-ledger/hiero-json-rpc-relay-committers

remove extra variables from charts after further research
  charts/hedera-json-rpc-relay-websocket/values.yaml
  charts/hedera-json-rpc-relay/value-test.yaml
  charts/hedera-json-rpc-relay/values.yaml
Owners: @hiero-ledger/hiero-json-rpc-relay-maintainers

fixes to Snyk commit message + updating title and label now works
  .github/scripts/check-pr.js
  .github/snyk_pull_request_template.yaml
Owners: @hiero-ledger/github-maintainers, @hiero-ledger/github-committers, @hiero-ledger/hiero-json-rpc-relay-maintainers

fixes to Snyk commit message + updating title and label now works
  .github/scripts/check-pr.js
  .github/snyk_pull_request_template.yaml
Owners: @hiero-ledger/github-maintainers, @hiero-ledger/github-committers, @hiero-ledger/hiero-json-rpc-relay-maintainers

chore: remove ununsed imports
  packages/relay/tests/lib/utils.spec.ts
Owners: @hiero-ledger/hiero-json-rpc-relay-committers

chore: add test coverage
  packages/relay/src/lib/hedera.ts
  packages/relay/tests/lib/hedera.spec.ts
Owners: @hiero-ledger/hiero-json-rpc-relay-committers

chore: fix types
  packages/relay/src/lib/hedera.ts
Owners: @hiero-ledger/hiero-json-rpc-relay-committers

fix snyk commit message template
  .github/snyk_pull_request_template.yaml
Owners: @hiero-ledger/github-maintainers, @hiero-ledger/github-committers, @hiero-ledger/hiero-json-rpc-relay-maintainers

chore: replace all runners with hiero version of runners
  .github/workflows/acceptance-public.yml
  .github/workflows/acceptance-workflow.yml
  .github/workflows/acceptance.yml
  .github/workflows/charts.yml
  .github/workflows/conformity-workflow.yml
  .github/workflows/dapp.yml
  .github/workflows/dev-tool-workflow.yml
  .github/workflows/flow-pr-title-check.yml
  .github/workflows/foundry.yml
  .github/workflows/image-build.yml
  .github/workflows/manual-testing.yml
  .github/workflows/postman.yml
  .github/workflows/pr-label-milestone-check.yml
  .github/workflows/release-acceptance.yml
  .github/workflows/release-automation.yml
  .github/workflows/release-integration.yml
  .github/workflows/release-production.yml
  .github/workflows/subgraph.yml
  .github/workflows/test.yml
Owners: @hiero-ledger/github-maintainers, @hiero-ledger/github-committers, @hiero-ledger/hiero-json-rpc-relay-maintainers

remove unnecessary polling
  packages/server/tests/acceptance/rpc_batch2.spec.ts
Owners: @Nana-EC, @hiero-ledger/hiero-json-rpc-relay-committers

added polling again
  packages/server/tests/acceptance/rpc_batch2.spec.ts
Owners: @Nana-EC, @hiero-ledger/hiero-json-rpc-relay-committers

---- refactor: normalize routes and reorganize service implementations --------
  packages/relay/src/index.ts
  packages/relay/src/lib/debug.ts
  packages/relay/src/lib/eth.ts
  packages/relay/src/lib/net.ts
  packages/relay/src/lib/poller.ts
  packages/relay/src/lib/relay.ts
  packages/relay/src/lib/services/debugService/IDebugService.ts
  packages/relay/src/lib/services/ethService/ethFilterService/IFilterService.ts
  packages/relay/src/lib/services/ethService/ethFilterService/index.ts
  packages/relay/src/lib/types/index.ts
  packages/relay/src/lib/types/requestParams.ts
  packages/relay/src/lib/web3.ts
  packages/relay/tests/lib/debug.spec.ts
  packages/relay/tests/lib/eth/eth_getLogs.spec.ts
  packages/relay/tests/lib/eth/eth_getStorageAt.spec.ts
  packages/relay/tests/lib/openrpc.spec.ts
  packages/relay/tests/lib/services/eth/filter.spec.ts
  packages/server/src/routes/debugRoutes.ts
  packages/server/src/routes/ethRoutes.ts
  packages/server/src/routes/netRoutes.ts
  packages/server/src/routes/otherRoutes.ts
  packages/server/src/routes/web3Routes.ts
  packages/server/src/server.ts
  packages/ws-server/src/controllers/eth_subscribe.ts
  packages/ws-server/src/controllers/index.ts
  packages/ws-server/src/utils/utils.ts
  packages/ws-server/src/webSocketServer.ts
  packages/ws-server/tests/unit/utils.spec.ts
Owners: @hiero-ledger/hiero-json-rpc-relay-committers, @Nana-EC, @georgi-l95, @Ivo-Yankov

experimenting with max-parallel: 3
  .github/workflows/acceptance.yml
Owners: @hiero-ledger/github-maintainers, @hiero-ledger/github-committers, @hiero-ledger/hiero-json-rpc-relay-maintainers

chore: cleaned up types/index.ts
  packages/relay/src/lib/types/index.ts
Owners: @hiero-ledger/hiero-json-rpc-relay-committers

feat: applied @rpcMethod annotation to all RPC methods
  packages/relay/src/lib/debug.ts
  packages/relay/src/lib/eth.ts
  packages/relay/src/lib/net.ts
  packages/relay/src/lib/web3.ts
Owners: @hiero-ledger/hiero-json-rpc-relay-committers

feat: added rpcMethod decorator function
  packages/relay/src/lib/decorators/index.ts
  packages/relay/src/lib/decorators/rpcMethod.decorator.ts
  packages/relay/tests/lib/decorators/rpcMethod.spec.ts
  packages/relay/tsconfig.json
Owners: @hiero-ledger/hiero-json-rpc-relay-committers

feat: added namespace for each of the service implementation class
  packages/relay/src/lib/debug.ts
  packages/relay/src/lib/eth.ts
  packages/relay/src/lib/net.ts
  packages/relay/src/lib/web3.ts
Owners: @hiero-ledger/hiero-json-rpc-relay-committers

fix snyk template so that snyk-bot has the commit signed off
  .github/snyk_pull_request_template.yaml
Owners: @hiero-ledger/github-maintainers, @hiero-ledger/github-committers, @hiero-ledger/hiero-json-rpc-relay-maintainers

poc for block service
  packages/relay/src/lib/services/blockService/IBlockService.ts
  packages/relay/src/lib/services/blockService/index.ts
  packages/relay/src/lib/services/ethService/ethCommonService/index.ts
  packages/relay/src/lib/services/factories/blockFactory.ts
Owners: @hiero-ledger/hiero-json-rpc-relay-committers

add temporary logging for CI
  packages/relay/src/lib/eth.ts
  packages/server/tests/acceptance/rpc_batch1.spec.ts
Owners: @hiero-ledger/hiero-json-rpc-relay-committers, @Nana-EC

bump max-parallel to 6
  .github/workflows/acceptance.yml
Owners: @hiero-ledger/github-maintainers, @hiero-ledger/github-committers, @hiero-ledger/hiero-json-rpc-relay-maintainers

undo unnecessary logging + disable async tx processing experimentally
  .github/workflows/acceptance-workflow.yml
  packages/relay/src/lib/eth.ts
  packages/server/tests/acceptance/rpc_batch1.spec.ts
Owners: @hiero-ledger/github-maintainers, @hiero-ledger/github-committers, @hiero-ledger/hiero-json-rpc-relay-maintainers, @hiero-ledger/hiero-json-rpc-relay-committers, @Nana-EC

feat: Added RpcMethodRegistryService class to register methods exposed as RPC methods.
  packages/relay/src/lib/services/registryService/index.ts
  packages/relay/src/lib/services/registryService/rpcMethodRegistryService.ts
  packages/relay/src/lib/types/index.ts
  packages/relay/src/lib/types/registry.ts
  packages/relay/tests/lib/registry/rpcMethodRegistry.spec.ts
  packages/relay/tests/lib/services/registry/rpcMethodRegistry.spec.ts
Owners: @hiero-ledger/hiero-json-rpc-relay-committers

feat: added RPC method registry to RelayImpl
  packages/relay/src/lib/relay.ts
Owners: @hiero-ledger/hiero-json-rpc-relay-committers

feat: added argsRearrangementMap util method
  packages/relay/src/utils.ts
  packages/relay/tests/lib/utils.spec.ts
Owners: @hiero-ledger/hiero-json-rpc-relay-committers

bump max-parallel to 8
  .github/workflows/acceptance.yml
Owners: @hiero-ledger/github-maintainers, @hiero-ledger/github-committers, @hiero-ledger/hiero-json-rpc-relay-maintainers

chore: add factories
  packages/relay/src/formatters.ts
  packages/relay/src/lib/clients/mirrorNodeClient.ts
  packages/relay/src/lib/modelConverter.ts
  packages/relay/src/lib/services/blockService/IBlockService.ts
  packages/relay/src/lib/services/blockService/index.ts
  packages/relay/src/lib/services/factories/blockFactory.ts
  packages/relay/src/lib/services/factories/transactionFactory.ts
  packages/relay/src/lib/services/transactionService/ITransactionService.ts
Owners: @hiero-ledger/hiero-json-rpc-relay-committers

chore: resolve comments
  docs/configuration.md
  package-lock.json
  packages/config-service/src/services/globalConfig.ts
  packages/relay/package.json
  packages/relay/src/lib/hedera.ts
  packages/relay/src/utils.ts
  packages/relay/tests/lib/utils.spec.ts
  packages/server/src/utils.ts
Owners: @hiero-ledger/hiero-json-rpc-relay-maintainers, @hiero-ledger/hiero-json-rpc-relay-committers, @Nana-EC

chore: edit doc
  README.md
Owners: @Nana-EC, @hiero-ledger/github-maintainers, @hiero-ledger/hiero-json-rpc-relay-committers

chore: revert changes
  packages/relay/src/utils.ts
  packages/relay/tests/lib/utils.spec.ts
Owners: @hiero-ledger/hiero-json-rpc-relay-committers

chore: fix test
  packages/relay/tests/lib/hedera.spec.ts
Owners: @hiero-ledger/hiero-json-rpc-relay-committers

tweak CI config variables again
  .github/workflows/acceptance-workflow.yml
  .github/workflows/acceptance.yml
Owners: @hiero-ledger/github-maintainers, @hiero-ledger/github-committers, @hiero-ledger/hiero-json-rpc-relay-maintainers
